.main-column {
    width: 500px;
    margin: 0 auto;
}
.game-board {
}
.row {
}
.snake-box {
    width:20px;
    height:20px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: #eee;
    float: left;
}
.snake-box:first {
}
.snake-box.enemy {
    background-color: red;
}
.snake-box.you {
    background-color: green;
}
