.snake-box {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background-color: #eee;
  float: left; }

.snake-box.enemy {
  background-color: red; }

.snake-box.you {
  background-color: green; }
